In [29]:
# "==" is a comparison operator "=" is an assignment operator
a=10
if a==10:
    print("this is my first condition")

this is my first condition

In [30]:
# wont give output bcz of no else condition
a=10
if a==11:
    print("this is my first condition")

In [31]:
a=10
if a>5:
    pass

In [32]:
a=10
if a>8:
    print("print if condition is true")

print if condition is true

In [33]:
# wont give output cz condition is falseif
a=10
if a<8:
    print("print if condition is true")

In [34]:
a=10
if a!=11:
    print("my condition is false")
else:
    print("print this")

my condition is false

In [35]:
a=10
if a==11:
    print("my condition is false")
else:
    print("print this")

print this

In [36]:
a=10
if a==12:
    print("here we're trying to compare 10 with 12")
elif a==11:
    print("here we are trying to compare 10 with 11")
else:
    print("if all the blocks will fail then do this")

if all the blocks will fail then do this

In [37]:
a=10
if a==12:
    print("here we're trying to compare 10 with 12")
elif a==10:
    print("here we are trying to compare 10 with 11")
else:
    print("if all the blocks will fail then do this")

here we are trying to compare 10 with 11

In [38]:
# must not give condition to else block
price=500
if price>500:
    print("I wont be able to buy jacket")
elif price<500:
    print("I will be able to buy a jacket")
else price==500:
    print("i dont know")

SyntaxError: invalid syntax (Temp/ipykernel_13112/2003225470.py, line 7)

In [39]:
price=500
if price>500:
    print("I wont be able to buy jacket")
elif price<500:
    print("I will be able to buy a jacket")
elif price==500:
    print("for sure i will be able to buy that jacket")
else:
    print("i dont know")

for sure i will be able to buy that jacket

In [40]:
price>500

False

In [41]:
price<500

False

In [42]:
price==500

True

In [43]:
l=[1,2,3,4,5,6]
if 2 in l:
    print("try to perform task")
else:
    print("do not perform task")

try to perform task

In [44]:
if 60 in l:
    print("yes")
else:
    print("no")

no

In [45]:
l

[1, 2, 3, 4, 5, 6]

In [46]:
# all the condition are true then it will execute only first right condition
if 1 in l:
    print("try to do addition")
elif 2 in l:
    print("try to do substraction")
elif 3 in l:
    print("try to do multiplication")

try to do addition

In [47]:
if 10 in l:
    print("try to do addition")
elif 2 in l:
    print("try to do substraction")
elif 3 in l:
    print("try to do multiplication")

try to do substraction

In [48]:
# whenever you write block with "if" it becomes a complete new block
if 10 in l:
    print("try to do addition")
elif 2 in l:
    print("try to do substraction")
elif 3 in l:
    print("try to do multiplication")
if 4 in l:
    print("this is new statement")

try to do substraction
this is new statement

In [49]:
# nasted blocks

In [52]:
price = int(input())
if price <500:
    print("I will be able to buy something")
    if price < 400:
        print("I will be able to buy a jacket")
    elif price < 300:
        print("I will be able to buy a shirt")
    else:
        print("I will be able to buy a anything")
else:
    print("I wont be able to buy with this price")

444
I will be able to buy something
I will be able to buy a anything

In [53]:
price = int(input())
if price <500:
    print("I will be able to buy something")
    if price < 400:
        print("I will be able to buy a jacket")
    elif price < 300:
        print("I will be able to buy a shirt")
        if price<200:
            print("I would be like to do something")
    else:
        print("I will be able to buy a anything")
else:
    print("I wont be able to buy with this price") 
    if price>500:
            print("lets try something else")

523
I wont be able to buy with this price
lets try something else

class task
marks=600,
condition is 
if marks>600 then able to get admission
if marks<600 then no GRE
if marks<500 then toffel
if marks<400 then try something else
else no gre

In [54]:
marks=int(input())
if marks<600:
    print("able to get admission")
elif marks<600:
    print("No GRE")
    if marks<500:
        print("toffel")
    if marks<400:
        print("Try something else")
else:
    print(" gre")

123
able to get admission

In [55]:
marks=int(input())
if marks<600:
    print("NO GRE")
    if marks<500:
        print("try something else")
    else:
        print("You got toffel")
else:
    print("you got GRE")

123
NO GRE
try something else

In [56]:
val = float(input("enter a floating point number "))
if val>=0:
    if val==0:
        print("entered value is zaro")
    else:
        print("entered value is positive number")
else:
    print("entered number is negative number")

enter a floating point number 145
entered value is positive number


true or false  = true;

false or ture  = true;

true or true   = true;

false or false = false;

In [57]:
# condition can be true or false
a=10
if a<10 or a==10:
    print("try to do something")

try to do something

In [58]:
a=10
if a<10 or a>10:
    print("try to do something")


true or false  = false; 

false or ture  = false;

false or false = false;

true or true   = true;

In [59]:
a=10
if a<10 and a==10:
    print("try to do something")

In [60]:
a=10
if a<10 and a>10:
    print("try to do something")

In [61]:
a="sudh"
if a=="sudh" and a=="Sudh":
    print("tyr something")

In [62]:
a="sudh"
if a=="sudh" or a=="Sudh":
    print("tyr something")

tyr something

In [63]:
a=10
b=11
c=13
d=14
if a==9 and b==11 and c==12 and d==13:
    print("lets do something")

In [64]:
d={"key1":"value", "key2":"sudh", "key3":"ineuron"}

In [65]:
d["key1"]

'value'

In [66]:
if d["key1"]=="value" and d["key2"]=="sudh" and d["key3"]=="ineuron":
    print("all the values are verified")
    print(d.values())

all the values are verified
dict_values(['value', 'sudh', 'ineuron'])

In [67]:
if d["key1"]=="value" and d["key2"]=="Sudh" and d["key3"]=="ineuron":
    print("all the values are verified")
    print(d.values())
else:
    print("all the values are not verified")

all the values are not verified

In [68]:
l=[1,2,3,4,5,"sudh",234.45]

In [69]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [70]:
for i in l:
    print(i)

1
2
3
4
5
sudh
234.45

In [71]:
for i in l:
    print(i+1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [72]:

for i in l:
    if type(i)==int:
        print(i+1)
    elif type(i)==str:
        print(i+str(1))

2
3
4
5
6
sudh1

In [73]:
for i in l:
    if type(i)==int or type(i)==float:
        print(i+1)
    elif type(i)==str:
        print(i+str(1))

2
3
4
5
6
sudh1
235.45

In [74]:
for i in l:
    if type(i)==int:
        print(i)
    else:
        print("thats it")

1
2
3
4
5
thats it
thats it

In [75]:
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)

In [76]:
l1

[1, 2, 3, 4, 5]